@charset "utf-8";
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger{border-left-color:indianred}
.bs-callout-success{border-left-color:darkseagreen}
.bs-callout-text{border-left-color:#70a8d2}
.mt20{margin-top: 20px;}
.ui-jqgrid .ui-jqgrid-btable{table-layout: auto}
